<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TroyStevens.Market.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
    <TroyStevens.Market.Properties.Settings>
      <setting name="ThirdPartyProcessingDelayInMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="IsThirdPartyProcessingDelayActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommaSeperatedProviderSymbolsOrion" serializeAs="String">
        <value>AAA,BBB,CCC,DDD,EEE,FFF,BBB,EEE,AAA,DDD,AAA,CCC</value>
      </setting>
      <setting name="CommaSeperatedProviderSymbolsPolaris" serializeAs="String">
        <value>AAA,BBB,CCC,GGG,HHH,III,JJJ,BBB,GGG,AAA,III,CCC</value>
      </setting>
      <setting name="MaxiumNumberOfSymbolBots" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="MaxNumberOfSymbolUpdates" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ProviderInactivtyTimeOutInMilliseconds" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="LoggingFeatureEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </TroyStevens.Market.Properties.Settings>
  </userSettings>
</configuration>
