<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TroyStevens.Market.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.serviceModel>
    <client>
      <endpoint name="Aggregator" address="net.tcp://localhost:9000/MarketDataService/Aggregator" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
      <endpoint name="Orion" address="net.tcp://localhost:9010/MarketDataService/Orion" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
      <endpoint name="Polaris" address="net.tcp://localhost:9020/MarketDataService/Polaris" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultMarketDataBinding">
          <security mode="None"/>
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
    </services>
    <behaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
    <TroyStevens.Market.Client.Properties.Settings>
      <setting name="ThirdPartyProcessingDelayInMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="IsThirdPartyProcessingDelayActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProviderInactivtyTimeOutInMilliseconds" serializeAs="String">
        <value>15000</value>
      </setting>
    </TroyStevens.Market.Client.Properties.Settings>
  </userSettings>
</configuration>
