<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TroyStevens.Market.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="TroyStevens.Market.Providers.Aggregator" behaviorConfiguration="mexMarketDataServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/MarketDataService/Aggregator"/>
          </baseAddresses>
        </host>
        <endpoint name="Aggregator" address="net.tcp://localhost:9000/MarketDataService/Aggregator" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TroyStevens.Market.Providers.Orion" behaviorConfiguration="mexMarketDataServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/MarketDataService/Orion"/>
          </baseAddresses>
        </host>
        <endpoint name="Orion" address="net.tcp://localhost:9010/MarketDataService/Orion" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TroyStevens.Market.Providers.Polaris" behaviorConfiguration="mexMarketDataServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/MarketDataService/Polaris"/>
          </baseAddresses>
        </host>
        <endpoint name="Polaris" address="net.tcp://localhost:9020/MarketDataService/Polaris" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <client>
      <endpoint name="Aggregator" address="net.tcp://localhost:9000/MarketDataService/Aggregator" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
      <endpoint name="Orion" address="net.tcp://localhost:9010/MarketDataService/Orion" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
      <endpoint name="Polaris" address="net.tcp://localhost:9020/MarketDataService/Polaris" binding="netTcpBinding" bindingConfiguration="DefaultMarketDataBinding" contract="TroyStevens.Market.Providers.IMarketDataProvider"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexMarketDataServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultMarketDataBinding">
          <security mode="None"/>
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
    <TroyStevens.Market.Properties.Settings>
      <setting name="ThirdPartyProcessingDelayInMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CommaSeperatedProviderSymbolsOrion" serializeAs="String">
        <value>AAA,BBB,CCC,DDD,EEE,FFF,BBB,EEE,AAA,DDD,AAA,CCC</value>
      </setting>
      <setting name="CommaSeperatedProviderSymbolsPolaris" serializeAs="String">
        <value>AAA,BBB,CCC,GGG,HHH,III,JJJ,BBB,GGG,AAA,III,CCC</value>
      </setting>
      <setting name="IsThirdPartyProcessingDelayActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxiumNumberOfSymbolBots" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="MaxNumberOfSymbolUpdates" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ProviderInactivtyTimeOutInMilliseconds" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="LoggingFeatureEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </TroyStevens.Market.Properties.Settings>
  </userSettings>
</configuration>
